# Build and test
*/out/debug*
target/

# JetBrains
.idea/

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Misc
.DS_Store
._*
.Spotlight-V100
.Trashes
**/*.rs.bk

# Env
.env
